@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Lora&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body{
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
	background-color: #BCBDC0;
}

h1,h2,h3{
	font-family: 'Diplomata SC', cursive;
}

a{
	text-decoration: none;
}
